<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TTDL_Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Monitor_Winservices.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TTDL.OCS.WinService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <clear />
    <add name="Local" connectionString="Data Source=10.224.162.19;Initial Catalog=TTDL;User ID=sa;Password=sa;"/>

  </connectionStrings>
  <appSettings>
    <clear />
    <add key="CUSTOMCODE" value="Z00Z" />
    <add key="TTDL.Service.TimerInterval" value="30000" />
  </appSettings>
  <applicationSettings>
    <TTDL_Service.My.MySettings>
      <setting name="TTDL_Service_Web_SV_Service1" serializeAs="String">
        <value>http://localhost:57340/Moniter.asmx</value>
      </setting>
      <setting name="TTDL_Service_Test_WS_Service1" serializeAs="String">
        <value>http://localhost:2972/Service1.asmx</value>
      </setting>
    </TTDL_Service.My.MySettings>
    <Monitor_Winservices.My.MySettings>
      <setting name="Monitor_Winservices_Web_SV_Service1" serializeAs="String">
        <value>http://localhost:57340/Moniter.asmx</value>
      </setting>
    </Monitor_Winservices.My.MySettings>
    <TTDL.OCS.WinService.My.MySettings>
      <setting name="TTDL_OCS_WinService_vananh_Service1" serializeAs="String">
        <value>http://vananh:1005/Service1.asmx</value>
        <!-- <value>http://10.224.33.122:301/Service1.asmx</value>  -->
      </setting>
    </TTDL.OCS.WinService.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>